#contact {
    .form,
    .social-media {
        width: 100%;
        max-width: 420px;

        .icon {
            font-size: 35px;
            color: #a8a8a8;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--theme-active-color-hover);
            }
        }
    }

    .contact-btn-container {
        display: flex;
        flex-direction: column; /* Organiza los elementos en columna */
        justify-content: center;
        align-items: center;
        gap: 1rem; /* Espacio entre el texto y el botón */
    }

    .contact-btn {
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        border-radius: 100px;
        background: transparent;
        color: var(--theme-active-color);
        border: 3px solid var(--theme-active-color);
        padding: 0.5rem 1.5rem; /* Ajustar padding para reducir el ancho */
        transition: var(--transition-all-03-ease-in-out);
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        p {
            display: flex;
            align-items: center;
            margin: 0; /* Eliminar margen */
            transition: var(--transition-all-03-ease-in-out);
        }

        &:hover {
            background: transparent;
            color: var(--theme-active-color-hover);
            border-color: var(--theme-active-color-hover);

            p {
                transform: scale(1.1);
            }

            em {
                color: var(--theme-active-color-hover); /* Cambiar color del icono */
            }
        }

        em {
            margin-left: 0.5rem; /* Espacio entre el texto y el icono */
        }
    }
}
