#download-cv {
    button {
        font-size: 18px;
        font-weight: 600;
        border-radius: 10px;
        background: transparent;
        /* border: 2px solid #00ffee; */
        border: 3px solid #00857c;
        color: #00857c;
        overflow: hidden;
        transition: all .3s ease-in-out;
    
        &:hover {
            color: #00d2c4;
            background: #00857c;
            border-color: #00d2c4;
            transform: scale(1.1);
        }
    }
}