#download-cv {
    button {
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        border-radius: 10px;
        background: transparent;
        color: var(--theme-active-color);
        border: 3px solid var(--theme-active-color);

        p {
            transition: var(--transition-all-03-ease-in-out);
        }

        &:hover {
            background: transparent;
            color: var(--theme-active-color-hover);
            border-color: var(--theme-active-color-hover);

            p {
                transform: scale(1.1);
            }
        }
    }
}