footer {
    color: var(--theme-active-color);
    background: var(--theme-active-background);

    a {
        height: 40px;
        display: flex;
        cursor: pointer;
        align-items: center;
        transition: all .2s ease-in-out;
        color: var(--theme-active-color);

        &:hover {
            font-weight: 600;
            transform: scale(1.1);
            color: var(--theme-active-color-hover);
        }
    }
}