header {
    top: 0;
    left: 50%;
    height: 100px;
    position: fixed;
    transform: translateX(-50%);
    background: linear-gradient(180deg, var(--color-white) 0%, rgba(255, 255, 255, 0) 100%);
    
    /* Ajusta el logo SVG */
    a img {
        width: 150px; /* Ajusta el tamaño del logo para pantallas grandes */
        height: auto; /* Mantén la proporción del logo */
    }

    * {
        transition: var(--transition-all-03-ease-in-out);
    }

    nav {
        position: relative;

        a {
            font-size: 16px;
            font-family: 'OpenSans-Light', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        &:before {
            top: 50%;
            left: 50%;
            content: none;
            z-index: -1;
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 30px;
            padding: .3rem .8rem;
            transform: translate(-50%, -50%);
            background: var(--theme-active-background);

            animation: fade-in linear both;
            animation-timeline: scroll(root) !important;
            animation-range: 0 100px;
        }
    }

    a {
        font-size: 25px;
        font-weight: 600;

        &:hover {
            color: var(--theme-active-color-hover);
        }
    }

    button {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        color: var(--theme-active-color);
        background: var(--theme-active-background);
        display: flex;
        align-items: center;
        justify-content: center;

        /* Ajustes para tema oscuro */
        &.dark {
            color: var(--theme-dark-color);
            background: var(--theme-dark-background);
        }

        /* Ajustes para tema claro */
        &.light {
            color: var(--theme-light-color);
            background: var(--theme-light-background);
        }

        &:hover {
            transform: scale(1.1);
            color: var(--theme-active-color-hover);
        }

        em {
            font-size: 1.1rem;
        }
    }

    .container-themes {
        right: 0;
        top: 35px;
        display: none;
        position: absolute;
        border-radius: 10px;
        background: var(--theme-active-background);
        border: 1px solid var(--theme-active-color);

        &.visible {
            display: flex !important;
            animation: fade-in .2s linear both;
        }

        button {
            width: auto;
            height: auto;
            background: none;

            & span {
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }

            &#btn-theme-dark {
                & span {
                    background: var(--theme-dark-background);
                    border: 1px solid var(--theme-dark-color-hover);
                }
            }

            &#btn-theme-light {
                & span {
                    background: var(--theme-light-background);
                    border: 1px solid var(--theme-light-color-hover);
                }
            }
        }
    }

    &:before {
        left: 0;
        content: "";
        z-index: -1;
        width: 100%;
        height: 150px;
        position: absolute;
        transform: scaleY(0);
        transform-origin: 0 0;

        background: linear-gradient(180deg, var(--theme-active-background) 25%, transparent 100%);
        animation: enhance-header linear both;
        animation-timeline: scroll(root) !important;
        animation-range: 0 100px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes enhance-header {
    to {
        transform: scaleY(1);
    }
}

/* Responsive Styles */
@media (min-width: 481px) and (max-width: 840px) {
    header {
        flex-direction: column;
        justify-content: space-evenly !important;

        &>a {
            font-size: 18px;
        }

        /* Ajuste del tamaño del logo en tabletas */
        a img {
            width: 120px; /* Tamaño del logo en tabletas */
        }
    }
}

@media (max-width: 500px) {
    header {
        gap: .8rem;
        flex-direction: column;
        padding-inline: 1rem !important;
        justify-content: center !important;

        a {
            font-size: 16px;
        }

        nav {
            gap: .8rem !important;

            .nav-links {
                gap: .5rem;
            }

            a {
                font-size: 12px;
            }

            &:before {
                content: "";
            }
        }

        /* Ajuste del tamaño del logo en móviles */
        a img {
            width: 100px; /* Tamaño del logo en móviles */
        }
    }
}
