* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #000;
    background-color: #fff;
    font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    background: rgba(255, 255, 255, .10);
}

::-webkit-scrollbar-thumb {
    background: #a1a1a1;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* HEADER STYLES */
header {
    z-index: 1;
    position: fixed;
    /* background: #fff; */
    /* background: linear-gradient(180deg, rgba(0, 210, 196, 0.28904061624649857) 0%, rgba(255, 255, 255, 1) 100%); */
}

header a {
    height: 40px;
    color: #000;
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: all .2s ease-in-out;

    &:hover {
        font-weight: 600;
        color: #00d2c4;
        transform: scale(1.1);
    }
}

/* MAIN SECTIONS STYLES */
main section {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main section:first-child>div {
    flex-direction: row;
}

main section>div {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 900px;
    flex-direction: column;
}

main #about .foto {
    width: 100%;
    height: 300px;
    overflow: hidden;
    max-width: 300px;
    min-width: 300px;
    border-radius: 50%;
    border: 2px solid #000;
}

main #about .foto img {
    max-width: 100%;
    object-fit: cover;
}

main #about h1 {
    font-size: 50px;
    font-family: 'OpenSans-Bold';
}

main #about h2 {
    font-size: 25px;
    font-family: 'OpenSans-SemiBold';
}

main #skills .skill {
    width: 100%;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    max-width: 280px;
    min-height: 150px;
    align-items: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #bcbcbc;

    &:hover {
        border-color: #00e1ff;
    }
}

main #skills .skill img {
    max-width: 65px;
}

main #projects .card-project {
    width: 100%;
    max-width: 400px;
    min-height: 300px;
    border-radius: 10px;
    border: 2px solid #bcbcbc;

    &:hover {
        border-color: #00e1ff;
    }
}

main #projects .card-project .card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

main #projects .card-project .card-header img {
    max-width: 100%;
    object-fit: fill;
}

main #projects .card-project .card-body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

main #projects .card-project .card-body .icon {
    font-size: 25px;
}

main #services .service {
    width: 100%;
    padding: 1rem;
    max-width: 280px;
    min-height: 150px;
    border-radius: 10px;
    border: 2px solid #bcbcbc;

    gap: 8px;
    display: flex;
    flex-direction: column;

    &:hover {
        border-color: #00e1ff;
    }
}

main #services .service em {
    font-size: 30px;
}

main #services .service p {
    font-size: 14px;
}

main #download-cv button {
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background: transparent;
    /* border: 2px solid #00ffee; */
    border: 3px solid #00857c;
    color: #00857c;
    overflow: hidden;
    transition: all .3s ease-in-out;

    &:hover {
        color: #00d2c4;
        background: #00857c;
        border-color: #00d2c4;
        transform: scale(1.1);
    }
}

main #contact .form,
main #contact .social-media {
    width: 100%;
    max-width: 420px;
}

main #contact .social-media .icon {
    font-size: 35px;
    color: #a8a8a8;
    transition: all .3s ease-in-out;

    &:hover {
        color: rgb(97, 255, 200);
    }
}

main #contact .custom-input {
    position: relative;
}

main #contact .custom-input input {
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 16px;
    padding-top: 6px;
    color: #a8a8a8;
    border-radius: 6px;
    background: transparent;
    border: 2px solid #a8a8a8;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        border: 2px solid rgb(183, 255, 230);
        -webkit-text-fill-color: #a8a8a8 !important;
        -webkit-box-shadow: 0 0 0px 1000px rgb(97, 255, 200) inset;
    }

    &:focus {
        box-shadow: rgb(97, 255, 200) 0px 0px 10px;
    }

    &:focus~label,
    &:not(:placeholder-shown).form-input:not(:focus)~label {
        top: 0;
        font-size: 14px;
        background: #fff;
        padding-inline: 5px;
        border-radius: 30px;
        color: #a8a8a8;
        letter-spacing: -.5px;
    }
}

main #contact .custom-input label {
    top: 50%;
    left: 1rem;
    font-size: 16px;
    color: #a8a8a8;
    position: absolute;
    pointer-events: none;
    letter-spacing: -.5px;
    background: transparent;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
}

main #contact button {
    cursor: pointer;
    font-size: 16px;
    color: #a8a8a8;
    border-radius: 6px;
    background: transparent;
    border: 2px solid #a8a8a8;
    transition: all .3s ease-in-out;

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }

    &:hover {
        color: #000;
        background: transparent;
        border: 2px solid #000;
    }
}

main #contact textarea {
    resize: none;
    font-size: 16px;
    min-height: 200px;
    max-height: 400px;
    border-radius: 6px;
    color: #a8a8a8;
    background: transparent;
    border: 2px solid #a8a8a8;
    font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif;

    &:focus {
        /* border-color: rgb(183, 255, 230); */
        box-shadow: rgb(97, 255, 200) 0px 0px 10px;
    }

    &:focus-visible {
        outline: rgb(183, 255, 230);
    }

    &::-webkit-input-placeholder {
        color: #a8a8a8;
    }
}

footer {
    color: #fff;
    background: rgba(0, 75, 66, 1);
}

footer a {
    color: #fff;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: all .2s ease-in-out;
    &:hover {
        font-weight: 600;
        color: #00d2c4;
        transform: scale(1.1);
    }
}